<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>게시글 상세</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container mx-auto px-4 py-8 max-w-4xl">
        <div class="post-header">
            <h1 class="post-title" th:text="${article.title}">게시글 제목</h1>
            <div class="post-meta">
                <span>작성일</span>
                <span>•</span>
                <span>
                    <p th:text="${article.user.name}"></p>
                </span>
            </div>
        </div>

        <div class="post-content">
            <textarea th:text="${article.content}" readonly></textarea>
        </div>

        <div th:if="${session.loginUser.id == article.user.id}" class="flex justify-between mt-8">
            <div class="space-x-4">
                <a th:href="@{/article/{id}/form(id=${article.id})}" class="btn btn-primary">수정</a>
            </div>
            <form th:action="@{/article/{id}/delete(id=${article.id})}" method="post">
                <input type="hidden" name="_method" value="DELETE"/>
                <button type="submit" class="btn btn-primary">삭제</button>
            </form>
        </div>

        <div class="comments-section mt-8">
            <h2 class="text-lg font-bold mb-4">댓글</h2>
            <form th:action="@{/article/{articleId}/reply(articleId=${article.id})}" method="post" class="mt-4">
                <div class="flex flex-row items-center space-x-2">
                   <textarea name="content" class="w-full border border-gray-300 rounded-lg p-2 resize-none"
                             placeholder="댓글을 입력하세요." required></textarea>
                    <button type="submit" class="btn btn-primary text-sm">댓글작성</button>
                </div>
            </form>
            <div class="comment-list">
                <div th:each="reply : ${replies}" class="comment border-b border-gray-300 py-2">
                    <p class="text-sm font-semibold" th:text="${reply.user.name}">사용자 이름</p>
                    <p class="text-gray-700" th:text="${reply.content}">댓글 내용</p>
                </div>
            </div>

        </div>

        <div class="text-center mt-4">
            <a th:href="@{/}" class="btn btn-secondary">목록으로</a>
        </div>
    </div>
</main>
</body>
</html>
